# Ignore all __pycache__ directories
**/__pycache__
**/.vscode
**/dist
**/build
# generics/cmodules

# Ignore the tmp directory (experiment outputs are stored in it)
/tmp
launchpygaap.sh
multi_test.py
backend/GUI/GUI_run_experiment_original.py
backend/GUI/GUI2_old_linux.py
backend/CLI_backup.py
backend/GUI/GUI2_mono.py
generics/modules/am_pytorch.py
manage.py
backend/GUI/GUI.py
buildc.sh
